# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

















/src/main/resources/firebase/serviceAccount
/src/main/resources/firebase/*.json

# build outputs
bin/
# secrets
**/serviceAccount.json

# JVM crash logs
hs_err_pid*.log
replay_pid*.log
